<html>
<head><title>Congress Forms Submit</title></head>
<style type="text/css">
label { display: inline-block; width: 120px; }
</style>
<body>
<h1>Congress Forms Submit</h1>
<form method="post" action="/submit">
<label for="name">name:</label>
<input type="text" name="name" id="name" value="Alfred Neuman"/>
<br/>
<label for="first_name">first_name:</label>
<input type="text" name="first_name" id="first_name" value=""/>
<br/>
<label for="last_name">last_name:</label>
<input type="text" name="last_name" id="last_name" value=""/>
<br/>
<label for="address1">address1:</label>
<input type="text" name="address1" id="address1" value="2080 Commonwealth Ave"/>
<br/>
<label for="city">city:</label>
<input type="text" name="city" id="city" value=""/>
<br/>
<label for="state">state:</label>
<input type="text" name="state" id="state" value=""/>
<br/>
<label for="zip">zip:</label>
<input type="text" name="zip" id="zip" value="55108"/>
<br/>
<label for="zip_4">zip_4:</label>
<input type="text" name="zip_4" id="zip_4" value=""/>
<br/>
<label for="email">email:</label>
<input type="text" name="email" id="email" value="jeff@rubbingalcoholic.com"/>
<br/>
<label for="country">country:</label>
<input type="text" name="country" id="country" value="US"/>
<br/>
<label for="country">phone:</label>
<input type="text" name="phone" id="phone" value="6505551212"/>
<br/>
<label for="subject">subject:</label>
<input type="text" name="subject" id="subject" value="Testing."/>
<br/>
<label for="message">message:</label>
<input type="text" name="message" id="message" value="This is just a test. Please disregard."/>
<br/>
<label for="action">tag:</label>
<input type="text" name="tag" id="tag" value="battleforthenet"/>
<br/>
<label for="topics">topics:</label>
<input type="text" name="topics" id="topics" value="telecommunications,technology,internet,communications"/>
<br/>
<label for="uid">uid:</label>
<input type="text" name="uid" id="uid" value="1234abcd"/>
<br/>
<input type="submit" value="Submit"/>
</form>
</body>
</html>